body {
    font-family: 'Merriweather', serif;
    background: #f8f8f8;
    color: #999999;
}

.orange {
    color: #fea030;
}

.upper-text {
    text-transform: uppercase;
}

header {
    margin-bottom: 100px;
}

.upper-header {
    font-size: 12px;
    border-bottom: 1px solid #cfcfcf;
}

.upper-header-title {
    padding: 15px 0;
}
.upper-header span {
    color: #424242;
}

.upper-header .col-md-3 {
    padding: 0;
}

.social-icons {
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    display: flex;
    justify-content: center;
    padding: 18px 0;
}

.social-icons i {
    padding-right: 7px;
    padding-left: 7px;
    border-right: 1px solid #e3e3e3;
}
.social-icons i:last-child,
.author-social-icons i:last-child,
footer-social-icons i:last-child {
    border-right: none;
}

.social-icons i:hover,
.author-social-icons i:hover,
.footer-social-icons i:hover {
    color: #ff9311;
}

.bottom-header {
    margin-top: 50px;
}

.bottom-header .navbar-brand {
    padding: 5px 15px;
}

.bottom-header a {
    text-transform: uppercase;
}

.bottom-header .navbar-right a {
    text-transform: uppercase;
    background: #ff9311;
    color: #fff !important;
}

.bottom-header .navbar-right a:hover {
    background: #ff9311 !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #ff9311 !important;
    border-bottom: 2px solid #ffffff;
}

.navbar-default {
    border: none;
    border-radius: 0;
}

.article-caption, .catagories-caption, .widget-caption {
    margin: 0;
}

.article-caption {
    padding-top: 30px;
    padding-bottom: 20px;
}

.article-image {
    background-color: #959595;
    width: 100%;
    height: 400px;
}

.article-description {
    margin-top: 30px;
}

.article-author {
    height: 45px;
    border: 1px solid #e5e5e5;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.author-social-icons i {
    padding-right: 7px;
    padding-left: 7px;
    border-right: 1px solid #e3e3e3;
}

article {
    margin-bottom: 60px;
}

.footer-social-icons {
    width: 200px;
    margin: auto;
}

.footer-social-icons i {
    padding-right: 7px;
    padding-left: 7px;
    border-right: 1px solid #e3e3e3;
}

footer p {
    text-align: center;
    margin-top: 20px;
}


/* sidebar */

.form-group {
    margin-bottom: 30px;
}

.inner-addon {
    position: relative;
    border-collapse: collapse !important;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 7px 8px 10px 8px;
    pointer-events: none;
    border: 1px solid #dbdbdb;
    color: #000000;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.form-control {
    border-radius: 0;
}


.card-post {
    padding: 20px 30px 20px 20px;
}

.card-post {
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
}



.recent-post .post-caption, .catagories-caption, .widget-caption{
    color: #424242;
    padding: 18px;
    border: 1px solid #c2c2c2;
}

.post-image {
    background: #e5e5e5;
    width: 70px;
    height: 50px;
}

.post-caption {
    margin: 0;
}

.catagories {
    margin: 30px 0;
}

.post-description {
    color: #424242;
}


.catagorie {
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.catagorie a {
    color: #424242;
}

.widget-body {
    padding: 20px;
    border: 1px solid #e5e5e5;
}

.carousel {
    height: 150px;
}

.carousel-indicators {
    display: none;
}